body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}
h2 {
  text-align: center;
  margin-top: 30px;
}
p {
  text-align: center;
}
table {
  width: 100000%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  border: 1px solid #000000;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}
.btn {
  margin-right: 5px;
}
.pagination {
  justify-content: center;
  margin-top: 20px;
}